h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: blue underline wavy;
  letter-spacing: 20px;
  font-size: 80px;
  font-family: papyrus;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
}
p {
  text-decoration: red underline;
  font-family: "Courier New", Courier, monospace;
}
* {
  background-color: lightcoral;
}
h2,
h3 {
  color: yellow;
}
#change {
  color: #f1faee;
  background-color: #1d3557;
}
.tag {
  color: #f72585;
  background-color: #4cc9f0;
}
